/* Custom Fonts Start */

/* Neue Haas Grotesk Display Pro */
@font-face {
  font-family: "Neue Haas Display Light";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Italics */
@font-face {
  font-family: "Neue Haas Display Light";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Redaction 100 */
@font-face {
  font-family: "Redaction 100";
  src: url("fonts/redaction-cufonfonts/Redaction100-vmXR9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Redaction 100 Italics */
@font-face {
  font-family: "Redaction 100";
  src: url("fonts/redaction-cufonfonts/Redaction100Italic-rgDrK.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Redaction 70 */
@font-face {
  font-family: "Redaction 70";
  src: url("fonts/redaction-cufonfonts/Redaction70-RpXqE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Redaction 50 */
@font-face {
  font-family: "Redaction 50";
  src: url("fonts/redaction-cufonfonts/Redaction50-8Mg4n.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Redaction 50 Italics */
@font-face {
  font-family: "Redaction 50";
  src: url("fonts/redaction-cufonfonts/Redaction50Italic-2ODWo.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Custom Fonts End */

/*navbar*/
.nav {
  /*display*/
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  /*position*/
  top: 0%;
  position: fixed;
  gap: 50px;
  z-index: 1000;
  /*makes it appear on top*/

  /*background*/
  background: #090809;
  width: 100%;
  height: 10%;
  overflow: visible;

  /*font*/
  font-size: 2vw;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.05vw;
  vertical-align: middle;

}

.nav a {
  color: #ffffff;
}

.logo {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 5%;
}

.links * {
  box-sizing: border-box;
}

.links {
  position: absolute;
  text-align: right;
  right: 5%;
}

.links {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
}
/*end of nav*/

/*header*/
.bg-smoke {
  position: absolute;
  z-index: 0;
  float: left;
  align-self: flex-end;
  min-height: 90vh;
  width: auto;
}
#about, #about * {
box-sizing: border-box;
}

#about {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  grid-template-areas: "pfp green-box green-box";
  row-gap: 0%;
  box-sizing: border-box;
  position: relative;
  min-width: 100%;
  min-height: fit-content;
  background:url("assets/header-assets/pixel-background-image.png"), no-repeat, linear-gradient(180deg, rgba(114, 65, 217, 0.00) 37.46%, #090809 88.43%), #6C36DE;
  background-size: cover;
  padding: 3vw 4vw 4vw 0vw;
  margin-top: 10vh;
  }

.header-pfp{
  grid-area: pfp;
  align-self: flex-end;
  width: 100%;
  padding: 0;
}

.green-box,
.green-box * {
  box-sizing: border-box;
}

.green-box {
  align-self: flex-end;
  align-items: center;
  position: relative;
  grid-area: green-box;
  display: grid;

  grid-template-rows: repeat(2, 1fr 2f);
  grid-template-columns: 30% 70%;
  grid-template-areas:
  "a c"  
  "a b"
    "a b";

  background: linear-gradient(
    180deg,
    rgba(211, 216, 41, 1) 9.49999988079071%,
    rgba(211, 216, 41, 1) 62.5%,
    rgba(167, 171, 0, 1) 99.50000047683716%
  );
  min-width: 100%;
  max-height: fit-content;
  margin: 0%;
  margin-bottom: -2.5%;
  padding:5%;
  color: #010001;
  z-index: 1;
}

.about-me-section-title {
  grid-area: c;
  position: relative;
  justify-self: flex-end;
  align-self:flex-start;
  padding:0px;
  margin-top:-2.5%;
  
  color: #090809;
  padding: 0px 20px;
  height:fit-content;
}

.hello {
  color: #010001;
  font-size: 8rem;
  font-weight: 400;
  font-style: italic;
  grid-area: a;
  align-self: center;
  justify-self: center;
  transform: rotate(-90deg) scale(1, 1);
}

.header-desc {
  display: flex;
  flex-direction: column;
  grid-area: b;
  position: relative;
  /*alignment*/

  width: 95%;
  height: inherit;
  padding-right: 10%;
  align-self:center;
  justify-self:center;
}

.im-moyartu {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0%;
}

.header-desc p {
  font-size: 1.25rem;
}

.bg-transition {
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  justify-self: flex-start;
  margin: 0%;
  left: -0.25vw;
  width: 100%;
}

/*end of header*/

/*projects*/
#projects {
  display: grid;
  width:100%;
  grid-template-areas:
    "pic desc";
  grid-template-columns: 70% 30%;
  min-height: fit-content;
  margin-bottom:10%;
}

.project-section-title {
  grid-area: pic;
  margin-top:-2.5rem;
  align-self: flex-start;
  z-indez:200;
}

.project-img {
  display:flex;
  box-sizing: border-box;
  grid-area: pic;
  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  max-width:100%;
  
}

.project-title {
  font-size: 2.5rem;
  padding: 0%;
  margin: 0;
  justify-self: stretch;
}

.project-1-description {
  position: relative;
  grid-area: desc;
  display: flex;
  flex-direction: column;
 
  padding: 30px;
  border:solid #ffffff 2px;
  background: #090809;
    color: #ffffff;
  align-self: flex-end;
  align-content: center;
  justify-self: flex-end;
  width:85%;
  min-height:fit-content;

  margin-left: -5%;
  margin-bottom: -5%;
}

.design-process-link {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.25px;
  justify-content: center;
  text-align: center;
  color:white;
}
/*end of projects*/

/*resume*/
#resume {
  max-width:100%;
  display: grid;
  grid-template-areas:
    "pfp education"
    "pfp skills";
  grid-template-columns: 40% 60%;
  border:solid #ffffff 2px;
  justify-content:center;
  padding:0px;
}

.resume-section-title{
  grid-area:education;
  position:relative;
  width:150px;
  text-align:center;
  z-index: 5;
  justify-self:flex-end;
  padding:0;
  margin:0;
  margin-top:-2.5rem;
  margin-right:-13px;
}

#title-w-icon {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap:10px;
  max-height:50px;
  margin-bottom:0px;
}

.ed-skill-icon{
  width:2rem;
  align-content:center;
}

.resume-subtitle { /*resume & education titles*/
  display: inline;
  align-content: center;
  font-size: 2rem;
}

/*name, address, pfp*/

.name-address {
  grid-area: pfp;
  display:flex;
  flex-direction:column;
  background: linear-gradient(180deg, rgba(58, 63, 85, 1.00) 18.000000715255737%,rgba(27, 11, 49, 0.15) 87.00000047683716%);
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  padding:25px 0px;
}

.pfp{
  max-width:250px;
  justify-self:center;
}

.name-address h1, .name-address h2, .name-address a{
  margin:0px;
}

.name-address h2{
  font-family:"Neue Haas Display Light";
  font-weight:300;
  font-size:1rem;
}

.name-address a{
  font-size:1rem;
}

.resume-email{
  font-family:"Neue Haas Display Light";
  font-weight:300;
  font-size:1rem;
  color:#ffffff;
}

.pdf-version-button{
  display:flex;
  width:205px;
  box-sizing: border-box;
  padding: 15px 25px;
  margin:20px;
  background-color:#ffffff;
  color: #090809;
  justify-content:center;
  align-self:center;
  text-align:center;
  font-size:1.5rem;
  font-family: "Redaction 50";
  font-style: italic;
  border-radius: 250px;
  
}

.ed-skills{
  padding:0 50px;
}
.ed-skills hr{
  border:none;
}

/*education*/
.schools {
  padding: 0%;
  margin: 0%;
  display: inline-flex;
  column-gap: 50px;
}

.schools h1 {
  font-size: 1.25rem;
  color: #D3D829;
}
.schools h2,
h3 {
  font-size: 1rem;
}

.schools h3 {
  font-weight: 400;
}

.education {
  grid-area: education;
  display: flex;
  flex-direction: column;
}

/*skills*/
.skills {
  grid-area: skills;
  font-size: 1rem;
}

.skill-name {
  font-weight: 600;
}

.level {
  font-family: "Redaction 50";
}

.name-lvl { /*skill name and level, ex: prog lang & exp*/
  display: inline-flex;
  column-gap: 5px;
  height:35px;
  align-items:center;
 
}

.specific-skill { /*individual skill, aka title and hearts*/
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  row-gap: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.skill-list { /*all skills*/
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  height:50%;
  position: relative;
  padding-bottom:0px;
}

.heart-skill-lvl {
  display: inline-block;
}

.full, .empty{
  width:40px;
  height:35px;
  padding:0;
  margin:0;
}
/*end of resume*/


/*footer*/
footer{
  position: relative;
  background:url("assets/footer-assets/pixel-bg.png"), no-repeat, linear-gradient(180deg, rgba(9, 8, 9, 0.20) 0%,rgba(0, 0, 0, 0.00) 75.16665458679199%,rgba(0, 0, 0, 0.00) 100%), linear-gradient(to left, #6030c4, #6030c4);
  background-size: cover;
  min-width:100%;
  height:fit-content;
  align-content:center;
}
#contact{
display:grid;
grid-template-columns: 70% 30%;
grid-template-areas: "contact copyright";
font-family:"Redaction 50";
font-size: 1.25rem;
}
.contact-info{
  grid-area:contact;
  align-self:flex-start;
  justify-self:flex-start;
  padding: 0px 4vw;
  padding-bottom: 15px;
}

.copyright{
  grid-area:copyright;
  align-self:flex-end;
  justify-self:flex-end;
  padding: 0 4vw;
}
#contact a{
  color:white;
}

.socials{
  display:flex;
  flex-direction:row;
  gap: 15px;
}

/*end of footer*/

/*non-specific*/
.section-title {
  font-size: 2rem;
}
body {
  background-color: #090809;
  color: #ffffff;
  font-family: Neue Haas Grotesk Display Pro, Arial, sans-serif;
  font-size: 90%;
  margin:0;
}

main{
  margin: 8.5% 4vw 4% 4vw;
  display:flex;
  flex-direction:column;
  gap:8.5%;
  justify-self:center;
}
main *{
 align-content:center;
}

a {
  text-decoration: none;
}

p{
  line-height: 1.25;
}

/*click, hover & animations*/
.nav a:hover{
  transition-duration: 350ms;
  color:#D3D829;
  
}
.pdf-version-button:hover{
  transition-duration: 350ms;
  background-color:#D3D829;
}

#contact a:hover{
  color:#D3D829;
  text-decoration:underline;
}
.design-process-link:hover, .resume-email:hover {
  transition-duration: 350ms;
 text-decoration:underline;
  color:#D3D829;
}

/*fonts*/
.Redaction100-Italic {
  font-family: "Redaction 100";
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0%;
}

.Redaction50-Italic {
  font-family: "Redaction 50";
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0%;
}

.Redaction50 {
  font-family: "Redaction 50";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0%;
}

.italics {
  font-style: italic;
}
/*end of fonts*/

.links a.active{
  color: #d3d829 !important;
}
